<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.C_BoardMapper">

	<select id="getCBoard" resultType="kr.smhrd.entity.c_board">
		select * from c_board order by c_w_date desc
	</select>
	
	<insert id="insertCBoard" parameterType="kr.smhrd.entity.c_board">
		INSERT INTO c_board
		(c_title, c_writer, email, c_img1, c_content, c_w_date, c_f_date, category,
		place, price, c_opt1, c_opt2, c_opt3, c_opt4, c_ea)
		
		VALUES (#{c_title}, #{c_writer}, #{email}, #{c_img1}, #{c_content},
		NOW(), #{c_f_date}, #{category}, '광주 동구', #{price}, #{c_opt1}, 1, 1, 1, #{c_ea});
	</insert>
	
	<select id="getCEmail" parameterType="String" resultType="kr.smhrd.entity.c_board">
		select * from c_board where email=#{email}
	</select>
	
	<select id="getComCategory" parameterType="String" resultType="kr.smhrd.entity.c_board">
		select * from c_board where category=#{category}
	</select>
	
	<select id="C_BoardContent" parameterType="int" resultType="kr.smhrd.entity.c_board">
		select*from c_board where c_num=#{c_num}
	</select>
	
	<update id="cParticipate" parameterType="int">
		update c_board set c_p_count=c_p_count+1 where c_num=#{c_num}
	</update>
	
	<delete id="deleteCBoard" parameterType="int">
		delete from c_board where c_num=#{c_num}	
	</delete>
	
	<update id="">
		update c_board set c_title=#{c_title}, c_img1=#{c_img1}, c_content=#{c_content},
		category={category}, price=#{price}, c_opt1=#{c_opt1}, c_ea=#{c_ea} where c_num=#{c_num}
	</update>
</mapper>